
/*Place this code in your style editor*/
/*OVERALL PAGE*/

.Skin .SkinInner {
    width: 100%;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}

#SkinContent {
    align-content: center !important;
    display: grid;
}

#Questions {
    width: 560px;
    margin: auto;
    padding: 10px 0px;
}

.Skin legend {
    display: none;
}

.Separator {
    display: none !important;
}


#Wrapper {
    background: #fafafa;
}

/*the screw you qualtrics plug get around*/
#Plug a {
    color: #fafafa !important;
    background-color: #fafafa !important;
	cursor: default;
}

.SkinInner {
    background: #fafafa !important;
}


.QuestionText.BorderColor {
    padding-bottom: 0px !important;
}

/*HEADER*/

.Skin #Header {
    padding: 0px;
    background-color: #f56040;
    background-image: linear-gradient(315deg, #f56040 0%, #405de6 74%);
}


/*logo*/

#siteLogo {
    width: 560px;
    margin: auto;
}

#siteLogo img {
    height: 100px !important;
    padding: 10px 0px;
}




/*PAGE ELEMENTS BROAD*/

#Questions {
    width: 560px;
	background: #fff;
}

/*hiding unwanted page elements*/


.hideMe {
    display: none;
}


#QID41 {
    display: none;
}

#QID82 {
    display: none;
}

#Buttons {
	display:none;
}
	
/*QUESTION CAROUSEL FORMAT*/

#QID1 {
    height: 720px;
}

.question-wrapper {
    width: 560px;
}



/*SOURCE BANNER*/


.sourceBox {
	height: 60px;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    border-bottom: 1px #fafafa;
        border-bottom-color: rgb(250, 250, 250);
        border-bottom-style: none;
        border-bottom-width: 1px;
    border-bottom-style: solid;
}

 
.sourceLogo {
    float: left;
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.sourceName {
    float: left;
	font-size: 24px;
    padding-left: 8px;
    padding-top: 5px;
}

.topicLabel {
    float: right;
    font-size: 18px;
    padding: 10px;
    height: 100%;
    width: 150px;
    text-align: right;
    color: #fff;
}

/*topic label colours*/

.Tobacco {
	background: #0175be; /*blue*/
}

.Entertainment {
	background: #ef164b; /*pink*/
}

.Finance {
	background: #01aebe; /*turquoise*/
}

.Lifestyle {
	background: #55b247; 
}

.Sports {
	background: #872d91;
}

.Tech {
	background: #f57a2a;
}



/*CAROUSEL BROAD*/

.carousel-container {
	clear: both;
	
}

.carousel-container .item {
    height: 500px;
	width: 500ppx;
	position: relative;
}

.carousel.slick-initialized.slick-slider.slick-vertical {
    margin: 0px;
}


.slick-list.draggable {
    height: 550px !important;
}

/*CAROUSEL ITEMS*/

.carousel-container {
    clear: both;
    width: 510px;
}

.carousel-container img {
    height: 500px !important;
    width: 500px !important;
    top: 25px;
    position: relative;
	padding: 5px;
}

.slick-active {
    opacity: 1 !important;
}



/*SLICK PLUGIN*/
.slick-slider {
	height: 100%;
	margin: 30% 0 20%;
}

.slick-list {
	overflow: visible;
}

.slick-slide {
	opacity: .4;
	outline: none;
	transition: opacity .15s linear;
	
	&.slick-active {
		opacity: 1;
	}
}



	
#after {
		border: 15px solid;
		border-color: rgba(0,0,0,0.2) rgba(255,255,255,0.15) rgba(0,0,0,0.25) rgba(255,255,255,0.4);
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		width: 100%;
	}



/*BUTTONS*/

#NavigationButtons {
    float: right;
	margin-top: -93% !important;
}

#NavigationButtons button {
    height: 245px;
    width: 50px;
    cursor: pointer;
    border: none;
    border-radius: 0%;
    transition: 200ms;
    color: #fff;
    font-size: 28px;
}

#PrevArrow {
    background-color: #fd1d1d;
    background-image: linear-gradient(315deg, #fd1d1d 0%, #405de6 100%);
}


#NextArrow {
    background-image: linear-gradient(315deg, #ffdc80 0%, #fd1d1d 100%) !important;
    background-color: #ffdc80;
}

#NavigationButtons button:hover {
    opacity: 0.8;
}

/*css for the button icons*/

.nav-icon {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block !important;
  padding: 8px;
}

.icon-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.icon-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.icon-right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	padding: 6px;
	vertical-align: top !important;
}

/*SLIDE COUNTER*/

.slideCounter {
    float: right;
    padding: 3px;
    margin-top: -70px;
    margin-right: 64px;
    background: gray;
    width: 60px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    text-align: right;
    z-index: 1;
    position: relative;
    opacity: 0.9;
}

/*LIKE & FOLLOW BUTTONS*/

.reactButtons {
    width: 100%;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
    box-shadow: 0 -3px 0 0 rgba(0,0,0,0.2);
    margin-top: 3px;
	font-size: 20px;
}

.reactButtons > div {
    width: 50%;
    font-size: 20px;
    text-align: center;
}

/* like button*/ 
#likeButton {
	float: left;
}

.likeNotClicked:hover {
    color: #ff0076;
}

.likeClicked {
	color: #fff;
	background-color: #ff0076;
}

.likeClicked:hover {
	opacity: 0.6;
}

/* follow button*/
#followButton {
	float: right;
}

.followNotClicked:hover {
    color: #00c2ff;
}

.followClicked {
	color: #fff;
	background-color: #00c2ff;
}

.followClicked:hover {
	opacity: 0.6;
}


/*CONTINUE BUTTON TO REST OF SURVEY*/

#continueButton {
    float: right;
    background-color: #d00;
    border: solid 3px black;
	padding: 15px 15px 0px 15px;
}

#CustomNextButton {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
	vertical-align: top;
}

